version: '3.3'

networks:
  zenoss:
    driver: bridge

services:

  zenoss4-memcached:
    image: stdnwbeheer/memcached:1.4-alpine
    container_name: zenoss4-memcached
    hostname: zenoss4-memcached
    mem_limit: 1g    
    ports:
      - "11211"
    networks:
      zenoss:
        aliases:
         - zenoss4-memcached
    deploy:
      resources:
        limits:
          memory: 1G		 

  zenoss4-rabbitmq:
    image: stdnwbeheer/rabbitmq:3.6
    container_name: zenoss4-rabbitmq
    hostname: zenoss4-rabbitmq
    ports:
      - "5672"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "./init_fs/var/lib/rabbitmq:/var/lib/rabbitmq:rw"
    environment:
      - "RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}"
      - "RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}"
      - "RABBITMQ_DEFAULT_VHOST=${RABBITMQ_DEFAULT_VHOST}"
    networks:
      zenoss:
        aliases:
         - zenoss4-rabbitmq
    deploy:
      mode: replicated
      replicas: 1

  zenoss4-redis:
    image: stdnwbeheer/redis:3.0-alpine
    container_name: zenoss4-redis
    hostname: zenoss4-redis
    ports:
      - "6379"
    volumes:
      - "./init_fs/data:/data:rw"
    networks:
      zenoss:
        aliases:
         - zenoss4-redis
    deploy:
      mode: replicated
      replicas: 1

  zenoss4-mariadb:
    image: stdnwbeheer/mariadb:5.5
    container_name: zenoss4-mariadb
    hostname: zenoss4-mariadb
    ports:
      - "3306"
    volumes:
      - "./init_fs/docker-entrypoint-initdb.d/init.sh:/docker-entrypoint-initdb.d/init_sql.sh:ro"
      - "./init_fs/etc/mysql/conf.d:/etc/mysql/conf.d:ro"
      - "./init_fs/tmp/initdb.d:/tmp/initdb.d:ro"
      - "./init_fs/var/lib/mysql:/var/lib/mysql:rw"
      - "./init_fs/var/log/mysqld.log:/var/log/mysqld.log:rw"
    environment:
      - "MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}"
    networks:
      zenoss:
        aliases:
         - zenoss4-mariadb
    deploy:
      mode: replicated
      replicas: 1

  zenoss4-core:
    image: stdnwbeheer/zenoss4.2.5
    container_name: zenoss4-core
    hostname: zenoss4-core
    ports:
      - "8080:8080"
    volumes:
      - "./init_fs/usr/local/zenoss/log:/usr/local/zenoss/log:rw"
    networks:
      zenoss:
        aliases:
         - zenoss4-core
    deploy:
      mode: replicated
      replicas: 1
